[submodule "step-cursor-workspace"]
	path = step-cursor-workspace
	url = https://github.com/foryouandyourcustomers/step-cursor-workspace
[submodule "step-utility-libraries"]
	path = step-utility-libraries
	url = https://github.com/foryouandyourcustomers/step-utility-libraries
